<!-- user/show.html.erb -->
<div class="container mt-3">
  <div class="row flex-column flex-md-row">
    <div class="col-md-3">
      <%= render 'users/user_info', user: @user %>
      <div class="mt-4">
        <%= render 'books/new' %>
      </div>
    </div>

    <div class="col-md-9">
      <h3 class="mb-3 border-bottom">Books</h3>
      <% @user.books.each do |book| %>
        <div class="row mb-1 border-bottom">
          <div class="col-md-2">
            <%= link_to user_path(@user) do %>
              <% if book.image.attached? %>
                <%= image_tag book.image.variant(resize_to_limit: [75, 75]), class: "img-fluid rounded-circle" %>
              <% else %>
                <%= image_tag 'default-image.jpg', class: "img-fluid rounded-circle" %>
              <% end %>
            <% end %>
          </div>
          <div class="col-md-5">
            <p class="mb-1"><%= link_to book.title, book_path(book) %></p>
          </div>
          <div class="col-md-5">
            <p class="mb-1"><%= book.body %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>