<!-- book/edit.html.erb -->
<div class="container">
  <div class="row">
    <% if @book %>
      <!-- サイドバー -->
      <div class="col-md-3">
        <%= render 'users/user_info', user: @book.user %>
      </div>

      <!-- メインコンテンツ -->
      <div class="col-md-9">
        <h2>Editing Book</h2>
      <% if @book.errors.any? %>
        <h3><%= @book.errors.count %> errors prohibited this obj from being saved:</h3>
        <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
        <%= form_with(model: @book, local: true) do |form| %>
          <!-- フォームフィールド -->
          <div class="form-group">
            <%= form.label :title %>
            <%= form.text_field :title, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= form.label :body %>
            <%= form.text_area :body, class: 'form-control' %>
          </div>

          <!-- フォームアクションボタン -->
          <%= form.submit "Update Book", class: 'btn btn-success' %>
          <%= link_to 'Show', book_path(@book), class: 'btn btn-primary' %> 
          <%= link_to 'Back', books_path, class: 'btn btn-secondary' %>
        <% end %>
      </div>
    <% else %>
      <!-- 本が見つからない場合のメッセージ -->
      <div class="col-md-12">
        <p class="alert alert-warning">本が見つかりません。</p>
      </div>
    <% end %>
  </div>
</div>